*{
    padding: 0; margin: 0; box-sizing: border-box;
}

body{
    color: #fff;
    width: 100%; height: 100dvh; 
}

.container{
    width: 100%; min-height: 100vh; 
    background-image: url(images/eloit.jpg);
    background-position: center; background-size: cover;
}

.Top_bar{
    padding-top: 1rem; align-items: center;
    display: flex; flex-direction: row; justify-content: space-evenly;
}

.links ul li a{
    color: #fff; text-decoration: none; font-size: 20px;
    
}

.links ul li a:hover{
    color: #f9004d;
}

.links ul li{
    list-style-type: none; 
}

.links ul{
    display: flex; padding: 0; margin: 0; gap: 30px;
}

.Logo{
    font-size: 2.5rem;
}

.Logo span{
    color: #f9004d;
}

.buttons a{
    color: white; text-decoration: none; 
}

.btn1{
    margin-right: 15px; color: #fff; font-size: 18px;
}

.btn2{
    background: black; padding: 9px 25px; outline: none; border: none;
    border-radius: 6px; text-align: center; font-size: 18px;
}

.btn3{
    margin-top: 20px;
    background: white; color: black; text-align: center;
    padding: 9px 25px; outline: none; border: none; border-radius: 6px;
    font-weight: bold; cursor: pointer;
}

.center_text{
    margin-top: 6%; max-width: 800px;
    padding-left: 6%; padding-right: 8%;
}

.center_text h3{
    font-size: 55px;
}

.center_text p{
    margin-top: 10px; line-height: 25px; font-size: 18px;
}

.dots-bars{
    display: none;
}

@media(max-width: 767px){
    .container{
        min-width: 100%; min-height: 100svh;
        background-image: top center;
    }

    .dots-bars{
        display: block; font-size: 20px;
        padding-left: 7vw;
    }

    #navBar{
        display: none; 
    }

    #navBar.activeBar{
        display: flex; flex-direction: column;
        position: fixed; right: 3%; top: 10%;
        align-items: flex-end; 
    }

    .Top_bar{
        display: flex; justify-content: space-between;
        padding-top: 0; padding: 1rem;
        width: 100%;
    }

    .Top_bar h2{
        font-size: 1.5rem;
    }

    .center_text h3{
        font-size: 1.5rem;
    }

    .center_text p{
        font-size: 1rem;
    }

    .btn1{
        font-size: 1rem; font-weight: 700;
    }

    .btn2{
        padding: 8px 20px; font-size: 1rem;
    }

    .center_text{
        position: relative; top: 6vh;
        max-width: 350px;
    }
}
